*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 25px;
}


header{
    margin :50px;
}

h1{
    margin-bottom: 50px;
}

.container{
    border: 1px solid black;
    padding: 20px;
    height: auto;
}


.article{
    margin: 45px 0;
    height: 50px;
    display: flex;
    flex-direction: column;


}

.formulaire{
    margin: 45px 10px;
    
}
.champs-text{
    margin: 20px;
}

.article{
    color: gray;
}
